<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="alternate" type="application/rss+xml" href="https://tessarinseve.pythonanywhere.com/nws/atom.xml" title="Seve's journal blog">
        <meta name="viewport" content="width=device-width, initial-scale=.9,shrink-to-fit=no">      
		<meta name="robots"             content= "index, follow">
		<meta http-equiv="Content-Type" content= "text/html; charset=utf-8">
        {% if article %}
            <meta name="twitter:title" content="{{ article.title[:69]|e }}">
            <meta name="twitter:description" content="{{ article.summary[:200]|striptags }}">
            <meta name="twitter:image" content=" {{ CARDURL }}">
            <meta name="twitter:card" content="summary">
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />   
        <link href="{{ SITEURL }}/theme/css/tipuesearch.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/highlight-style.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/imgs/favicon.ico">
        <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/imgs/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/imgs/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/imgs/apple-touch-icon-114x114.png">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    {% endblock head %}


</head>

{% import 'macro.html' as macro %}

<body>
   
    <nav class="navbar sticky-top navbar-dark navbar-expand-sm navbar-custom">
        <a class="brand" href="{{ SITEURL }}/index.html">Seve {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarCollapse"> 
            <ul class="navbar-nav nav">
                <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown1">
                            {% for cat, null in categories %}

                            <a class="dropdown-item" href="{{ SITEURL }}/{{ cat.url }}">
                                <i class="fa fa-folder fanavbar"></i> {{ cat }}
                            </a>

                            {% endfor %}
                        </div>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nws/search.html"> Search <i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/nws/atom.xml"> RSS feed <i class="fa fa-rss" aria-hidden="true"></i></a>
                    </li>
            </ul>
        </div>

    </nav> 
 
    <main role="main" class="container"> 
        {% block content %}
        {% endblock %}
    </main>




<div class="footer">
<footer class="blog-footer">
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="seve" data-color="#a71616" data-emoji=""  data-font="Lato" data-text="Download my apps" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
  <p class="pfooter">   
               {% for social_tuple in SOCIAL %}
                {{ macro.get_social_bar(social_tuple[0],social_tuple[1],social_tuple[2]) }}
               {% endfor %}
  </p>

  <p class="text-muted mb-0 pfooter"> {{ COPYRIGHT_YEAR }}  &copy; S.Tessarin</p>
  <p class="text-muted nb-0 pfooter" xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>
</footer>
</div>
 

<button id="scrollTopBtn" title="Scroll to Top" type="button" class="btn" style="display: inline-block;bottom:7%;left:3%" onclick="$(window).scrollTop(0);"><i class="fa fa-caret-up"></i></button>
   
		<!-- {% include 'analytics.html' %}-->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
        <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
        <script src="{{ SITEURL }}/tipuesearch_content.js"></script>
 
        <script src="{{ SITEURL }}/theme/js/tipuesearch_set.js"></script>
        <script src="{{ SITEURL }}/theme/js/tipuesearch.js"></script>

		<script src="{{ SITEURL }}/theme/js/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="seve" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Left" data-x_margin="18" data-y_margin="18"></script>

</script>
</body>
</html>

