{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

{{ macro.amazonad('index_top') }}

{% set indexwiki = (articles|get_by_slug("indexwiki")) %}

<div class="row mb-2 align-items-center">
    <div class="col-md-12 col-lg-12 mt-1"> 
            {{ indexwiki.content }}
    </div>
</div>


<div class="row">
	<div class="col-12">
		<div class="card card-inverse" style="background-color: darkred; border-color: darkred;">
			<div class="card-block">
				<div class="row">
					<div class="col-md-6 col-sm-6 mb-0 text-center">
						<div class="jumbotron jumbotron-index vertical-center" style="background-color:darkred;color:white;">
							<div class="container text-center">

								{{ macro.me() }}
								<h2 class="card-title">I am Seve</h2>
						<p class="card-text">
						Software/Startup Developer-R&D Expert-Physicist.</br>
						Vim and command-line enthusiast. 
						</p>
							</div>
						</div>
					</div>         
					<div class="col-md-6 col-sm-6 mb-0 text-center">
						<h4 class="card-title mb-0">Get in touch:</h4>
						<p class="card-text">
						<ul class="list-unstyled" >
							<li><a href="https://twitter.com/Seve_py" class="twitter"><i class="fa fa-twitter"></i>  DM @Seve_py</a>
							</li>
							<li>
								<a href="https://tessarinseve.pythonanywhere.com/shared/request-form.html" class="wpform"><i class="fa fa-wpforms"></i>  Contact Form</a>
							</li>
							<li>
							<a rel="me" href="https://fosstodon.org/@seve_py"><i class="fa fa-mastodon">Mastodon</i></a> 
							</li>				
						</ul>						
						</p>
					
						<p class="card-text">Become a supporter (click the "cup of coffee" widget on the right-bottom corner) and help me to keep this website online, you will also get access to a set of exclusive Windows OS desktop applications. </p></br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</hr>

<div class="row mt-3 mb-2">
    <div class="col text-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
            Website URL QR-code
        </button>

    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <figure>
                    <img src="https://tessarinseve.pythonanywhere.com/staticweb/qr-code.png" title="QR-Code" alt="QR-Code"><figcaption aria-hidden="true">QR-Code</figcaption>
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
