
{% macro list_items_page(items) %}
  <ul>
    {% for item, articles in items %}
      <li>
        <a href="{{ SITEURL }}/{{ item.url }}">{{ item }}</a> [{{ articles|count }}]
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro table_tags_page(items,SITE2) %}
<table>
  {% for item, articles in items %}
  <tr>
    <td>
     <a href="{{ SITE2 }}/{{ item.url}}"> {{item}} </a>
    </td>
    <td>
        <div class="tagcounter">
            [{{ articles|count}}]
        </div>
    </td>
  </tr>
    {% endfor %}
    </table>
{% endmacro %}

{% macro list_tags_page(items) %}
  <ul>
    {% for item, articles in items %}
      <li>
          <a href="{{ SITEURL }}/{{ item.url }}">{{ item }} </a><i> [{{ articles|count }}]</i>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro tipue_search() %}

<div class="row justify-content-center" style="display:block">
    <div class="col-auto">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td align= "left"> 
                        <h4>Search: </h4>
                    </td>
                </tr>
                <tr>
                    <td align = "left">
                    <form action="search.html">
                        <div class="tipue_search"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
                        <div style="clear: both;"></div>
                    </form>

                     <div id="tipue_search_content"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro amazonad(ad) %}
{% if ad == 'business_banner' %} {%set codeblock = '
' %}
{% elif ad == 'center_index' %} {%set codeblock = '
' %}
{% elif ad == 'index_top' %} {%set codeblock = '
' %}
{% elif ad == 'category_top' %} {%set codeblock = '
' %}
{% elif ad == 'ama_search' %} {%set codeblock = '
'%}
{% endif %}
<div class="row justify-content-center" style="display:none">
    <div class="col-auto">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td align = "center">
                        {{ codeblock }}                  
                    </td>
                </tr>
                <tr>
                    <td class="amazon_cap">
                        <i>As an Amazon Associate I earn from qualifying purchases</i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro badge(category) %}
{% if category == 'Journal' %}
<span class="badge badge-pill badge-primary">Journal</span>
{% elif category == 'Pages' %}
<span class="badge badge-pill badge-secondary">Pages</span>
{% elif category == 'IPYNB' %}
<span class="badge badge-pill badge-success">IPYNB</span>
{% endif %}
{% endmacro %}

{% macro get_fa(social) %}

{% if social=='bitcoin' %}{% set class = 'fa-btc' %}
{% elif social=='irc' %}{% set class = 'faments' %}
{% elif social=='email' %}{% set class = 'fa-envelope' %}
{% elif social=='skype' %}{% set class = 'fa-skype' -%}
{% elif social=='delicious' %}{% set class = 'fa-delicious' %}
{% elif social=='deviantart' %}{% set class = 'fa-deviantart' %}
{% elif social=='facebook' %}{% set class = 'fa-facebook' %}
{% elif social=='flickr' %}{% set class = 'fa-flickr' %}
{% elif social=='foursquare' %}{% set class = 'fa-foursquare' %}
{% elif social=='github' %}{% set class = 'fa-github' %}
{% elif social=='gitlab' %}{% set class = 'fa-gitlab' %}
{% elif social=='linkedin' %}{% set class = 'fa-linkedin' %}
{% elif social=='news.binator' %}{% set class = 'fa-hacker-news' %}
{% elif social=='pinterest' %}{% set class = 'fa-pinterest' %}
{% elif social=='plus.google' %}{% set class = 'fa-google-plus' %}
{% elif social=='reddit' %}{% set class = 'fa-reddit' %}
{% elif social=='spotify' %}{% set class = 'fa-spotify' %}
{% elif social=='stackoverflow' %}{% set class = 'fa-stack-overflow' %}
{% elif social=='steamunity' %}{% set class = 'fa-steam' %}
{% elif social=='soundcloud' %}{% set class = 'fa-soundcloud' %}
{% elif social=='t.me' %}{% set class = 'fa-telegram' %}
{% elif social=='twitch.tv' %}{% set class = 'fa-twitch' %}
{% elif social=='twitter' %}{% set class = 'fa-twitter' %}
{% elif social=='vk' %}{% set class = 'fa-vk' %}
{% elif social=='vimeo' %}{% set class = 'fa-vimeo-square' %}
{% elif social=='vine.co' %}{% set class = 'fa-vine' %}
{% elif social=='youtube' %}{% set class = 'fa-youtube' %}
{% endif %}

<i class="fa {{ class }} fa-lg"></i>
{% endmacro %}

{% macro get_social_bar(social, url, tooltip) %}
{% if social=='email' %}
<a data-email="{{ url }}" title="{{tooltip}}" class="email">{{ get_fa(social) }}</a>
{% else %}
<a href="{{ url }}" title="{{tooltip}}">{{ get_fa(social) }}</a>
{% endif %}
{% endmacro %}


{% macro me() %}


<img class="btn-md" src="data:image/png;base64,  iVBORw0KGgoAAAANSUhEUgAAAGYAAABmCAIAAAC2vXM1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAA  dTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH5QMCDjk6peLr  yAAAPDxJREFUeNqNvUeQLVlyJXbc770R8VTqzK9VadUlursKLSC6mzNsAk0ahwMYqMAhASO5nZktaVxwRS64ImlGo3HFBY002IBD  zKABAg0UetAgWlZXl/5Vv6p+fZFf5U/x8qkQ97pzcSMiI/MXYPMWmS+fCOHXxfHj7jfpv/0vv6MAi4KViFmZoCBVFQDMBggAiIgI  qgAAEECAAIbAxPUHRCQ+aX+qavucmVVVRIiImdsPx3frDxMRoAAUVqFQMCtURUnBTKqg+C1AAU/KzFaaE3Gof5MDAFIgCAQEFgsQ  SAEfz1mfCAxNiIMxQmRQv6whBBAkEKDMqlqfAoCNAhAmpvrmCIgXT4g3z0C8fyISVSVCFChIoPHDUNX25h+VV/yTACaKZ44SbN+N  EmSCYSIl44wET3ALX1jDgyQTBFElIhL1XhRKTMwMbe+FVA00EKlSSWDAQA0RQYNCCQwIIKoGMAIhlng1RHG9mEhEBfUBwQRpjk/x  Q4BVgBWAiiJeAJSElUghICJlosCgEOVJpEREZEUrAoglSuaEpFrZMfMxoTBrK0EiACIK1Sy1XrSsfFkJhPemk7c+vtV3SS9z1+/u  nD+1fnZjhUFssLW6tDZIfRVKHwTqwFFdonIrLACoAFAEgqX6XApVKIMskUFtSQoFRV2DqAaAmFhRX5uSxiVpbYiZLRExQcG1doGE  IQQmJiICq0RxQNVHm1BVaKgNFEykj6pYq0dd8YFI4pdqIaohJJbZmOt3dn7y4fbBJPdeVfVwWjpngZCl6WxebI/vZJ88NCqgMBym  T106+8yZtY3lzANUiSgx1xdWn1yNkoBKKKBMcND6DdR2AUbUFgHKqL6qQsTRBludau+CGPEtG20s+ikikihcMMBxHQiiEGjUTNSX  RdqYJKuG1iV1ZXfkoRqRtSoeX3KWmehgnl+9fu/H798ohaIdheAT51SJjSlLn/UyIoQQiDlJXV7Szz+4d+Pe5MJm/6nzG2uDXmrZ  e5FWXoi3QFAHkGrtSYlI1Qs8wEwOUCAcOc9GTPFeWq/ScS+ExsmCBWBVAoOjh1IBaYhyhRJ1gkAjAgaYwFACKoDb4PDoyVSVgbiI  8cXUWUAPJuWbH9566/rt4DlN+iohLoyztqoqhXqxhqwGAotzzlhDVvtJliYJs7l1GG6/e5eq4vnLay8/fh5ByiqISNQ4KAGmVmkK  ShVAIGJYkAABMI3GB1Ul4q6JnFhvVQXqO7RMpKxExEQa/V5cIbACzKQSXyEgNDYPIhuDA0gIBBjV+nUgdMwRIqKqxKyI8Y6U8OGt  hx98un13dzYpYNiORsP5fCEi0fFJ9KECiospUAQFZzY1VntJKkCxWLgsNYmd58XrP79+697hV5+7sLnSB7lQeR9EOS5sHcChTGRU  CVCKjpsYMKAKYDpuH1GC0Xra11sNMN969ekYLDufJoANkVK0OEG0fcTQKUQWyrV/JFYhiuqJ2jSaAFQf0xgDIlG1hl2S/Ojd63/1  i88meQiG+4N0fXWViCbTWbQdInLOAjDWiPeqAaTGmMw4JqnKYmV1dXVlmZirooDCB18W/vbDw3c+vfPZvYODvFju90bDxIsSQCAm  BoEoBsQKIKhlFpAABqSANJdqEH0exYhGJ3xxlKD5xhef7Cpk84RAYAhACiaCUKAoEWWoYVZFiL6fiaOzAAlagNJZsehBrbXj2fyv  f3HtZ+/fWdtY7w+zy09cIcuDfr8q/Ww2s9YwG2Nsr9czoMQ6DQAoSZ0jNmxW15aXlpcM88bm+nQ68yr7B+PxZC4KY6jyvDMuPrn9  8K1PbldBHju7SaKqaozRaDqIIIeploYQHChEjxYVnGoxM6HjFzuCU1V7dGMKkCgbKIEi+LJAYDVAPIaqSkQYCkVU/RrWQpVAXK+Y  UhRfFKWIpIn9bGf8vZ9ee3gwd4kFoaiqxLrd3f2tzQ3jLABrXZalLjFpmhZGF9M5wYsErUDO9fu9zc0N5+x4PL527eMsy8aTw0VR  sbFQE3wwBHJeyJaVf/2Nj/NF9e3XniNfBRFolAIQ4yQplAgOqAAfwWl0C/VKK7r22HFwxAzzrS8/3SAArtFVC7KIIvTkxm2hNs8a  ORK1TlMbxY42oACrmAhxs8RsH+R/+qOre4e5MSa1rtJQVL6syqr0CpkeTsrCr6yMjNH19fXJ5PDCxYuiIXFOvIQQgtfKl6phNptt  37s3mS72Dw7n87wqfV4GqaRSBUNVPQBlNnZ7Zzzou0tn13wV6EhntHZtEFAAATAEq4h30vHBHZh5LCaQ1olLg1k4miQRISiLRtDR  xB0FBNGDskJJpM4COrEyJlIabV80pNbtz8Of/PTabO5T63rJQGEZxpIZLS2Plvq+qBbzHCKpMYOs571HkDu3t0ejJedskhoQwL6s  itu3b29vbyOoIetFnUuMNTZJkswElfliUVULqFiyRlkCv/3pvXk+j/nGI+iHI0SDGlXPpASrYhqXdTJ7ObJNJdui80ZqtacTUhCZ  2uhiGmVAHuShSXyp9VcUwwKHqNTxT0UwZLzgL356fb5QkyXWWCZnCcN+OpvNRoMhymLvcK9nE2vt4d7e5vqGSwlKi92DCmzFk/jl  YZ+gVRAlJeIsSyTQ0tJoli9kNhfv50CWZenySpHPIQXEK4kjvnNv8v5n+1968oyvArFpEU/jrhmQGpOhosZWIlJrJdUVXPxpvvnl  p/42FMoxxWJq9IyaoBnPKM2zEDEzwQFMZKLxqko/cz/84PYndyZpavujPrMtqmppaaSs+WLBISxms2qxODMabvQzCb7y3oAYtJIk  m4l77vFLZ9aXq+kkYdvPnGNSVXgti2JyOCny3AcvIuolhGCMZYnRhlQJCiXJF/6ZS2cMN2D9SGtAYJCClNkBqvBsqDFVp5Aosa5M  4p+2fXbsvTrxhMbwghanNmEFgEJiNAXXIZZC6w5UpZ/ad68/+OHV2yujZWZkSZpLVS5Kn4XxfFIt8t2wa0AXV1fOr4wMW60KZesA  IVKDnsVAy2/92ms/Gtg33v6ol4zU2QfT+X5ZSghLw75zbu7LMvekKKXKF4cqRMSGCWSIKWVz7+HhZzs7T108Hapg2qUHiCIvYkUl  hkmC1WCJAI5KZ4OUzGjRktaZrJpvvfr0CUAQQ6BtmYwmLh53jUxExNE8uVHAKFBRwFm7M8n/+Q/eM2x6w54PYT5bVLMyiBRVVc1z  Viqr6sxodG6YbQzsUr9vRBzozNrKwCj56olL52SeD5z71a9/jcrqcO8wEJEhVk1AvSyz1g56Sb+f9rO05xwzSZAg6oNAwUQMhBDW  V5Inz25KJcdtiDoaFLkGqEb2IfpirWNsB2cQlJjMN7/01DFQRsTMVuMxoFwDGj5an2MOMgJ0isieoRDAEtgY+yc//vDebp5kTkTK  sprNikVZMih4L6LGYD1NXjq/dW6lf261vzVa6juXEVM++9rLX1gyrhxPB1nv4e37mXXPPPNUKIrZ4b4LstbvJ9ZpmRsNrNpPUsOU  L2YclBkgJaCq/R6pBBCevbTFqKOmEsBowEGEY0IsGvNNZYUQOQA1UDuyv6iMODLMWpwiQg2J1ChZTP9ryqKBprWutcEBqgIio9As  oY9uPfz0zn6aphq4mJV5Vad4IgIvTGShlzeWnj23PnB0aWP11PLK3mS2tzedTA7Lh/e/8uwTDw7GxaLoXbjw4VvvzsbjZy+dvbAy  fPODq5Mgg56ZUmBjJXV55ed5vmTMQmAQUnDFup+HUoOoccQHk2I8K9dGPfFSc5OCmt6hABIiB42GYkACQgS3DQ/Yhst4n2QfcfkN  0FLVhtmJchHE1J0is9rR6mNsCQAFfXj7QRXIJFT5SkQURIBhDkHA3hDW08FS4pyjy+ur51fWBkN7emNpvLpIknSRL9LUPX7p1P7e  QTJc2dxceuONtx7evnv5ysUrZ89fv7stoNNba9OiOlzM1ZeWdWhtwTYXnhWlJwrCD3PPAiV4X5Z5RcNe7XmIj+5YDeCIILUhhZo/  Jqs1yKNOnK0N6wj9oyGjj7IH1FQshSg1RZRiE3FPkNHNodl7LX1gliDivY/nM9YCCCqWaC1NHttcPbO25Epc2txIEiamsio21wYi  Msz6zqZE9vSpzdJX6dn1XvLSjRt3p9P9Hpuza8u7h/Neai+e3TqcTMaTReWlrPysyKeFyRM7LgtijH0IHmx5UVaTRXGBjchJeqfm  OLUgAuCAQLXZRUqFTuTq8R5tlyd6FLmRQgnCIFUmauFxxDAnqKUW1KjSUpoFVXh/dDRVJXJkMjar/fTU+uDUMDu9tgzjjU2MMUys  qsbZIs9DUSQpO5uM+j0YHg7cuXNbRVnN57PxwWx3PCvKcm93z1ThsdObxtqd/enO4bjfr9Qjm8+GEmYl3RovLExRYjwvjCH4ozgW  L0kVxBVBgTpQqypIVCmi1dYFtcUKtL7sOKBtbpIIDShTJomZUzRDkKhwQ/2cSMqstaX6EIRJ45libkwig8SmjoZZljGP+kuBNM9L  x6yK1dESmF0v7S8vwUvwQgHkDPeSxLLxvtcDea1cQcu9qnQhny/1+8NhZizPplOjQkxgWen3XFmcHcmt8ZxAQXVvtpC6akGRrW/R  WVu44Fp7PKix1OPcX+2saqb8uLlGi4tCjOm6EmqOnBCgYGKNBIki1MRFexAQQcI89yDDRBIZUabgQ2Y5NRj03OryIOtlEiR4v/De  FeVSmhbBO3YUlEgwHFAyAEgS1jQzDDOf6vRwlUaqoXzwcFYU505tDvr98fiwqsqN1cG8KO4dHFasjnng7VoaeomJ1N1sPhfVCIwk  1kzqm1WChZo64lPMjR2xUZSEmnc8MiMCQY+5/1Zqx4JAI/OYqjERiBQqBO6QYmjSCyLyGhZlAYW0J1MkxhpGYrEyyJKEFAjBM9t8  kQ8TW5YlEVnnyFllqHN2fU1GK8JAUVXl3EjFOnDGnB70Ni9uTceH8/3DqhTmwe5uuToalWWYFuWsLD2EHQ/VDq3dKxWqiUtqpraF  mdSk0noEmBQKtWAhEtTVAHTAeW153BXW59C4zWmISA0HBggGFNPPLkY75gGJ2/O0RxMVJjjnoAihLMsCUCZNk4SYfVXVoVmEiU0I  mBzweI99Ycq5qzyMU9GAEEgpS5a3NlbPnUmHDpCVlZXFfEbeL2XOaCBlazk1lDlnGM7aXi9pUAIQYgpMgFCXuqB4o0ERVBmaIJb1  Ohx9LFTa45j+pMgipdk4SyUi1rqsFF9VaAwECkR2V1RYSQPVlZx6AUEQZ5OiwmyRF9bmtpKhWCbvpSjK/vIoyzJrDamGsuJAhmxY  7GB/l5yFEhelSA4VEBNI+v1sZTlbGW5sTIvxpJ9l12/ePCxz61xVBiUwU5qAFx5UbSz3VA2hozNQaJ0TNpRfAIypidIAlg7xjxai  1u7/hNdv42BTlTny68aYUNeG1RCBIAQjMQ2ouQAypsa1EdZRXaAFjPdSQIw3hdfgJQSf59WUaJCNogP1IfggVeV9dcC7+xB2xImz  hpmzBJkaURGvQQFFTpgXHCRNk+VRduXimVmpt3YnAvU+VFBLgUlEYJRCCK25HLndo7tW5gQghW9Npg6AxyHnkcha0cSw2qpVFI2C  FGrYNMQOAAg36tyUvOq1C+oSl2YpMCNmaBOqiHwZSImc0VBZlxHb6cKDsFSKF+R5mOQLdqYqq9kkLxeLxaxiI31glPaGo5E1kg16  lNmkSGV/AmfYy2KeBxEJWi6q9dWls+srH966C2sl+DqnZsqshYjqUYn+US4skkKESJlFAseo+q4vi/WDIyjb4b+PjsggFhVuyFpR  MKED8OgoXWrAsKpqiLJq1B6iSiqiZJRSUM86x3Y2m1FqV1fPBE7v7M8D57uTovJlVclsttg/HIvIKM2WmEc2SczD5V6yvj7oDZPU  Jb4sYU3pQz6vQPAS8rIqpDx7ZvUgz28+2GdjQRRCGA3s5vpIiIiPFStPuKPmRYIaUYlSiyghGiYRx9L5UcTsSqr16gak3CTlooY4  orOGnyUxzBoLdWBu+i0MJ9Z0GDrUeYMx1tBSLzWQyWwxXLYh6e/N5zvT+WGR50EnhRfo4Xy2fXtnf7pIrTm9MlxPXWbtyJhhkizd  T1dGPesMEYhokuc++CR1lLqyyC1ba83q0vDO7kGlAnAQXVsaLvUzFYlWosdt83OFCEQ+FYASGdXQVB0JENulJY60rPF1HjWVH0nu  mgGplYc4Jp5tlGhqAASs9vvR5cU0BYCQkmqa2Z61qTUiNC8Fi2L7YDL1HgJf+qqqQqhKHxx0c9QPQYpFceAra3nGvJIm4yrfmU4N  iZAyMPU01xA0qLVpkjrC2miYQDKXzOdzLyQhXD51KnVpWZaxnhidSSwxfa66oQb9DPhYyWh4LWGyIG+7kjpStC5MU2WlQJCGP6pF  FpuZmgoTGgo7urTlYdI2LdSHYkPAkLhveNTLjGBvsXiwWPigZRD2oW+dFSzKUEoFywjcdxj1kj67SiRo8IABLdSzF1UqVQ7L4jD3  e3mYeEmSlJ32zM65UZ8AYa4kZD13/szIi1fU6DISE2Q41sS6aeKRhsUiQOSS6maOClBQBcC28no0aLbClyNGv1mNCNlqgBE1jaNG  KQFQaw1EEf0XU92LxUiMW+pnK6Oh+Goyldm8DL6yxriEHhzO7owPdwsJAcT+VD8TCT1nLywNh9YwcxEURTXMXCE+BF1IgGhiOU0V  FBZ+WgWnxnxWTI2RjWE/z6svPX7p0tm1MnhLRiOiBCmJQJiZOnleFzbExABqULc2VTHCxThhT1hym2x20yvBcQVugFY0VSUSqAGx  shCEqVJdzpKXz6zOKxwsyrkXkcABbDlNeHWYaajyvKiqUBa5YVME/9nO4YPDBfcyIickwyy9cH5rvLu/N1ncOFgsZ25lkATR1156  4rFLZ3/ww198urs/K4ui4odV5YUzSxu9rOesY7O3KMd5sXDGGHzhyXOOuQowRBLdMBGRQeyNq3GRtuT8CY1TBAiBmGCjlwJgjyou  xyVVIwmRk37xCP2RQI0gcNO+1aBpZTIiSVmlaW81Te5Mpg/zoIARLPccIZSV5FVVlV6heZ4fzMpCdH15QMRzhIRpLbHVZBbK0hFC  8LNgOC+fOrv2nX/v10fnVny1+Okf/OWdAtuTw9wrwMsDu7OgkdULw+Favxe0Kkt/Zmv59NZIKzGKoNLCzOhuI3VNoNgrQcfjfs10  c6i9n8RKuwBqT0CEzxHQMTkBQGQvWBGAYOqMXYkCa/RxrJDKl4tylA3ImdGgt1+VEiRJsJSlmU3YcmZTpnlVLLyXpV5/BLWGSFVS  UQJ7VPOFgY4SG8swXMnfe/WLo0uXZGvlS1//6ur/++MPdncBJMTKtL68tL60dO36JxrwhHWjNJtXxWMXTzk2viFjO0ZX30J0xySt  rgEgUGiygracZombFkpR27RQdPHtsaawxnmRNu0eNQ/btNEAUNHancZviaZZmjqTWseZ8YuClYnQM5Qx98iu9DNjcWmz/+SppYPx  fH+SPzgY515skjjjLJkqkbzypEmhUgWYsvqVFx577aVndJD50UZ65syLT5x76+7+qstKL4HQCwjT2YjSvJCDYjHo9VJnt1aXJbYz  NuR7wymqIdaG93lUS4gUCApWBcGCCCTcJI42wkxq6F1Vpdg4RnLyOMd6iaiumorWTIUqGta7AmWD3tKwbxM+nC6KvLA2qcpyI8t6  bPv9wfLQDVK3PHRry0v9Xn9n/+Dh7uE46GJRbN96eDCeLDwqm+S+6luztJK+cunSv/vN11hUJws6w/D+5cvnv/fGB6U6csEZa0mC  D+dW+rOqLLzv++Ccs4Zjq+tRs0X016gh49G9NS2cQNPf2LRZAAxUUIOaCxIbG3o7nXyAxsjaoKz6qCFCMm16oY4ESURNByyDWBFE  ev3ecHk4mRaLReES5yfz1JjNtVGSODakxI7d8nB0am2tPxicvnDa9gc6WsurcPv67cPZJN+bFwfjcTEb9QfnN5afvHCWQFVR8P6E  lKsqbI5WXrlw9tr9Pa9WIZlzhklVMgvxkigVIr4qDQ2FyLQxLRoQx4So8TPQpgoMYlF4aMMwqChCrN4qBY5EdpMltEYGQIkFKnXH  SlyAhjIhtcBRibfrIKLIFMIKY+zS+tLDh9tJ6qyCmVOHXmIVtCgLb9j01KgpFlWx2M3SJMlyTJnPbz35976JLMF0Vk0mYOUi8HSK  hzshz82o75kdjJZ+kc+/9OT5w8l4oS5AxAeoemjmrHGw4Il4BTFz0+0bfX5DozKTNGoVvTohpjHEBhRUCawKJmUmGxOAaLMWFP+I  rlsIBBIoq7o6q9QQW5hjp1TTpYIWgnTAB0hJY+s3ZGV9Ke0/rPKFF7UOa4O+Aea+cDm2ssw5M88X4n3mrJYhSQe2l2rg/PCQyx4S  Y86eModzne7mDw91PMtGPV1atqcvqh3ZpD9aGj27NBwOl//mjXfHRRmYBRQ4kKBUVaLZogATmALHTl8YIlM3rTddx6KEutk/xC5D  4pqUZwt4UsPg2KlNsKpeNTQDBCo1x6ZHhaimeimNbVMNVYBY2jjWFksUaW4FWIkkZH3XH6ZGtKqqbGC3hsMiqEiVMXvivCRnAikG  vcH6xhZnqYYKBxOb5zDOzGf57vj2+x9uX72+dnrj9MUzhpxdz3h5LTAFl519/PF3fvzTJ05vXfo3f+3965/t7U28x0E+m5T5YVmV  IQRo2su8DwaIXrmuDNYiUxApIyaQQvHGlKGqgWCgAQKlEMAQNbEdBESU2NgirMpEAY3XV4SGVIvnkRb9H9G+xwtWXAsOAAJBRZ11  qctyLftZaklNYvLSV0BuMJ7mhjjP6cz6OrGZLRbZPPB4ERCYyBfF/Rvbb773yQe3bn/z137t+d/+DjJHO3sIEooFdrZltkjWN4nM  H/6LP/3aF1987bEn/ONaIBSF/+ze3Xeu3Xwwn55dW+6lmajG5JBVmRAIRimyh0Qx5VTENQaEFGpiF0EsWig8oO1ABjMrxMbOnqaM  23Q71Y0+LJCmtyy2lR6ZYR22QRAlPk4GqArBWk57PMsX6KfOWSIEaOX9flHYg4NFnoeV5X6Sk+j8YMpqLRMIs8X87va9T27d/Wjv  cGt169XXXjOqmufTu3tANRIOwaOai+hLX3zlg1u3/+j1H339xRe+8OKTo/6SJNXQWh9o9+qHzz5xLkmMeB+DW01zxhSvcdsUC5ZM  CoXA1LrIKiBmEDNc07IT7a6Mhlnjk6YVJdS9wrETtO4vIG1kF2EEOjAanXmVBrgBoKBY3VrdfTDNRStoCMEpRGRSlMGLr0KaWGcw  mVpLSNM05NXh5PD+/vhwvhhXfkwyP9j9/T/456dXRqXhT+/tsOjLzzx25dK5wcDdf3B/+8HeqVObP/Qf/vjjG6UP585uGMdVkF6S  Dvt94xyRRkcRM2QARBz9WqwqNkSFClNsNa+DHJFXNlqnmtGyiThO8Fg9snCGIsaFDtaPnR2tnYKIoQwNUbNUFdz0IdR6TlADkhD8  6sbKaGv88Mb9rJ8xcZpYVal8VTL2K3LTQirYIAG+zMsyL7x4rzwP5Xg6P3f69PmzZ/7w/3vDWjcpCknT5V7vxv7+Y599ujbKbu7s  Tw5KawNn7n41+/mnt+9O9ldXhmzc3GuAJpk1UpeSAjSGRwa4kVpE5/FdSE1cRWJQRZthrqNCkkKIrCGyDYKl45ICyLciOJaTR9ym  emSjzZdENDbYdr4Reivp7XcOrgzOVlUlRM65qgoiVHh/e39/35kE4OAJapmIeTyvpkU5SpLf+vvfsM5990c/eyDKznEI82Ix6y/d  2D38ZGf//ngCwdlRz7FdBP9Q8vlOORjPrKOKUSXsEiv1AISapgLOINMMKDGTIA4ZwBCTKNc5EjFAAjJNnbsZLSH1see6ziIaIi06  LGkasMyJptsYXolI6/a8oyyqRm6qNe4FRMLSIEtdGrxWJHlRWmeY2IcgQqxyGHyPyBIyaz10b1ZMKpHK/4NvfWNtbW1WLi6c2tq/  +5AtEzSQHhZ+kvtJVTDYiFw6d36xmL9380bhmAOkqKyYXP1gZZWdDT4QkyhIwQArCAiNqxGCQE3d1B4RJwmRQlnrlqZO90ZstCaq  G9yjhrYAldpEIfakt6baojFmZiYwH9HBzRebErGCyUDQT9PlpUxDCUUZJEhgZiIW5aAsYAEMGyHemxf73h8WxWOPXXrq8qX92TQQ  vfLMk5UUbNlZo6Q7s8Od+aJSUtYSkjOuPHYJictJChXP8ICoDlaW6q6KuimCyJhYhw0EZmbi2MVkiIlZmMgQg6zACYwSMROTMLSZ  gAN5KEMsixGliP3rdBtKUCaYZsyro2JKKi2OjfAwls9bu5am38gRsYLTxJ4/s1pKqYCHlpVKzELIK4MMO+OIKfflzAe2NrEusfa9  a5/sH4wTtr/xtS//ypVLXOZDIgcOKkIam2FLDXtlcahera2UChEhDVCydjAcqmocuImKwQ30t1qrG4McOGJ3JhICCRg1G8qiBIpd  UK0vAwnYW4mtChoULEdteA1wI4/YlwBQnI2ITW0SADYsqiA4dJpxY85J9RwjQHzu9Mbt7T2vwSgrJNK2BFvXFcQLsYRABKNiLH98  8+7eg90zy6PTWba2vHw6Hdy2aQL2TGRsYszAORB5Z5yXT2/eCL4iZh/Eq4iSHaRJZiUImeiNhEBxXNIoCR/RXDGPYYmtePFGIXV6  TSBvhQis5AnWsBVRAlsrXFc8EEABTTgAbN3Vd8QFRbmjXhhYhaAeDSXibqNZNGklYmIe9gapcRo0sHhmC0O1iCUEKUlZYkckz/Jy  d7pQax+M6bP7ez0DEJg4sa4CJdZsOEuKoKqizpjb9x4sULEx4oNjA6KAamltmVMr3tfJM1GkGZRZm0oPA0ZJoHFyGEQsShG3q0TP  o1opG60LdCURGZOoBtsmAoBpWyhqpKaxMzT6NiKKVWDEVhm0s6Aca3wtf9uiMwYgKv2ey4bp+GBhQTZ6VWZQIGWAPaMSibV2MIa9  tKgwqcoJSucNMydgt6hA3kEGSSoBpUggWGuVsZBiud/vsdqUmCgQLa2uKDMMcxPCuE6Y6ogV0z9SmEg/RJfPxEoKGBhQUKrHkiiW  JCkOwQqR2mYMN/42RBErCLOKCkBMMWnXmENAo+zaCfjYXKomRB94NLnZQpDKS+JsUEAoD8JGEhCzYSJRkQDP9Qr3jHUsw9SuoZ/7  UnwwAlb0yBCcEpyBWmLVvCqzhHq9tBTrQ0hcYpypoL1Bb2llRUUsMeIYLxEIrDBa58ntcJpSTWmAhMF6hOeJlMCkAImpm1k4MhSx  7x8QJhKw1oxh05fejBBq3V0UvTvFocOalKMaWRuunzfR4Kg8aqk/SJmmIloRcgjASSAyGpF3SQxQiUqZjLJKYNIs64mqeJ+wodKD  lJmgaqzJyC8tDVxCWpEh46lu+avUnzt9LkvT3FdRWEaU6sI0cSSxGtgtjXmigV3KoYZbMEQkCkscvxcbKZgZMDZiYlVq5h3qeAC0  fbjKjAa1RacJKDVd3xYIYNRbMhxFgIajMpQonrx0YffB/HC2AKgUAcOyYxWh2PZhfJAgEiQksI6NQl0cXXXGWBugSsIgC4ZhQ9oz  BkELlriTQUzgkjRZPb9Zad1PGNtdCcQqQiTRfzECYLTt52ozHyUYBisHIq+SECyT13r+o+33CTYCfNNOex0No8Z7liYHkKZRBY0c  uWawIwCue0oRG5BbCBdEstTN92eVBGNMCAGg0uuMq4TJMqn4KgQAXkRFbOpMUCJYYgAGOsvnFZEIHCEhTSX0HEzdiq4AucQao5Wv  Lly52B/1qsIfVcjqZ0wEjW1iCsNsAKljHNdjI3X/jlf1xIlaoRArd4bAiqqVia0Xo+5n0qiENZUYdU8NKDQNjdQJizUbULMexzqM  EasJQWSQpe99evdH79zYXFop8nGdaojkkKBkheNmG0YNGQ4SXrxypqfmZ+9fK40l5lmZl5XGFmBRGGdM33imCiF6JmOZWX3lR5sr  Z66c82WI5SLLhhShhT4AARYUTJ1rs2n3n6gLmqQRhVtSY8gjNjpFVpdRj9PENpa6+h2jJLcqFmXHccYxutGmB+ZYi1ashTedCXWV  KXaWGWOqoN/9V29duHRluLw8OThstuJQFQoGQb1V4ghegqwOh1fObjy+tXV+Y/lHb360N5+dWV5GJePFAtayqLVKIC8EBRtRAhuI  iDp66sUnnTOhOip8KRNULRmrddONMohq/Hq0fwgzjpJpo5Fn1BjWLLOCgyq3wPOo84eZAAMEEMdMtqZ6yDAjBt0O0I++UGNNVDVE  AtzESFJ3VtGg3/+bdz66vXf4/LOjbLC8vLa5t3PHxu5sUAgwxoXIjKt4wdr6Mow7nMxfePapL730YlEVp06dzvP8f//9/+fD7Ycu  TQAfgRM4jj9qYJlXxYsvfWF1dbksS6obrpvgV/cHw9QT0QDAhlgaqoeYKKAmtFHn4hyEDFQhoVHQI8LCtvffpOym0bgoNeXIe3QG  v441ZBHQulsTmz812mtqebyYf++n72dJosweGG5sFmU13ttLE1aIigLERkEaCDA8npUPDibUl4Obt9dG/eVh7+a9G5bt+QvnPry7  47UkgufIrzOzNU7m8+KJZx+7/Nj5sqrihZlYwoi5scJDPdfbP3AM75EUImECKakKyAC+7jznAAWpIRLE9IYcyLeg1RIJqO38AZSU  lEiY2uhb7yvSyut4lUTZtOk+tVu/MJFa8/vf/eHe/iJxppQQQlCVzTNnkSQHD+5YqYxz2ia1Imz43sHhu7fsdGPIzuoDpaChqJi5  yIM1Sa45W6NStyqx4XnuH3vqsedfeKIoy3bVqaEJm20IapuLiuLkiBJF06MRQ7+iAgVVRxSY6i1XoluPs9/xNq2ykbqbpZ7/pGZz  h6bIrszHRNYOXHQhKzXd77HU2kuS/+NPf/iLa3dH/ayoiqIsDXMlElQ21tazJHlwb1vzRRIn0F1CJCIC5msPH+4djnv9tCo9BVVV  BhlRZhOboanZXaBU0TS5unPwinHB+CBN5tjZ/yoi2NiHr7HNjuq9nZgsEZOCKFGN/KABTKwQERgs0a3X0+Cob5CFxBA3ktf2pzZ9  t1TztMfk1RR860f7Z2zLStPkD17/6Y/euTEcZkG8KmbTaezci7TnaLR06coTo60zgYjKoioXIdTK5ow7DLo/ycvKe2hgUkPBsjcK  4wIZzwhwgdy08GcunX/r2u3/889+RjbrZ07kKBmOmDQQIq5nhSE2YGWCYTbMZGo9BDErkSqLUiAOACkCHQ0Hosuamr//tZda2pHI  NDhWuNZZJf4cVTrRVRtfEVECstT94V+9+dfv3FhZWgq+UoWEkCbJxsZmjebq5TKD0SgbDr0PVeWLoiKCJXJkUuecc9YaGyuL9Y40  pFBloyAmnud5MhqeO33m7sO9139+7aNPt0+tL108sy4iIW7fwGTAcR8PUN3eAyKheuMaIdQjzeyJiNkoxZkAIQIzo54Ep7Y/IaqF  +be+8qJps3AKxHHHqnZfFe6qWKtTXb/WrCtlqbPO/ssfvPnXb99cHo5i12cUqA9h69RWYl3T9thEH5f0hkM2LCEsFjm8ZwKCWI2k  TdMjqarRJwUhESnzAnrh0qVelty6v7s7nk3y4m/evpZXxZXT60ujIZiCDwSQqXFA7JioGTSFYWaAlYmFWKF1oGvnZYhigtZYUGfo  xnz7qy+StpXiungUVZKIoKamJFsxddo/ATKGe2mSOAPg5r29f/nXv/j5tXvDXr/bUZNl2SLPV0ZLo+EwRgY+aktgYylL0jRLrbN5  WVV54ZiMAsFDhADjxWlgCSwhVUjQndn04mOPLQ9HIBwczj65u9PPUmPSdz7a/vG7n+5P5hc2VjZWl0kkVBJrIrXrAJtYm2Cl2CbA  opC2KwUtBEWTLqOurbUhznz7ay8RNXAUYEZMRYk4MuMxGWDmGNrj6UU1szZLk+ki3H6w+971O9//yQev/+za7mHZz7KjagARAOcc  oEy8vrqGhliLHzDMQb0BnDXW2WwwUKJ8mouKtZSxdYZT0p61CdmEKUBv7o83L549fWrLi1jDZVVevX0v3luWpvMqvPfp3Z+8e+1w  Nj+1ubS+ssyECiIUK5Z1oYRqFOXjVnbUpsYgMbUdcFt6O958ZzUm6qQCUaMM094utC4GRwHHZr8gZIwO+unB4fyHP/ng7et3ptMi  KDHbLOsbptDMLVIzeAHVXtYr8rwoil6vp810RTRoQ4Y0sKWUUmZ2a2tF1jvY25suKs6QkcsshyCqOvF6fby3vrZx4ey52OEVJKRZ  4hxrhKYqlnl52J9V4f/+/tv/6o2Pfum5y19/6clzZ1YHfUdqQ+krH1TVAESWQeGoKaqJiu0kAxqwcozLh7UqGuk+Yqtxx6ymuNKM  /jboAVDt95K8ql5/4+oP3/lsOvdJkiZpvx5hqvW0M2XX7FJkjQnQWb7IsqzbpqyqIDbGQT0zkiQx1rI1NjPTvf3xZBpE1bMKzYLc  O5wubaw+duVinZMZZiINR33WcSdEETVEo8FgXoY//vHV13/x0eXTm09e3nry7OZjFzY3V1ctVaGQ0nsQGbVEHCiAxIBVlWPywIB0  xuqAeqcgIitk6gJTU5B7FIIBCCKpM9a6qzfufe/H72/vzLIsGWRZXNu2aB6nY4+Ysk57KjPP5vPV0TJbE8PQkTarGkqYqiDBGJM4  VyXpaDiaHuzvb9+bFlISH5b50trypQtnXeZAcQQIoqhEnTFlvY/OsV1UmDHs9wHafji//fCzv6LPlkb20un1l586/YUrF9ZXR1Dk  eSCpiFiJI7/UZA2Ie1F2GidiAFIb4SyYKQDk49W0Yz2o4SwN+unuwewvfvbOWx/fMeyWhoMg9Rac7bV20BkQJ327qIbZMldV6Wyf  W8IDpBRMDcWZVAiWWNI0BfTMhdHy6tqnN7bne+MzZ06dv3ihP0iZwWziwUPwMNTv9Uu/iL1c7QZRkZ+P0NI5a60hmEUhb3/y8M2P  7q+NPnjm8umvfuHys5e3Bq6ngYtQ+OCD1tcvLI0vO9Kb+JZlNjFPrE0rliBruhAK7SdJUP3BL6794BefzHPNkpSZpN4TrwPwjKHO  mkQVO5rXZwo+nL94USpflqXNejWtq83IIosQW5dAIp8uNnH3Hjy8s3NvMOpfWlsTDRUwGvZQ+ViIFUCIMptsLi9N5kWoJBa3Oxs/  xQKmARCCxMJb6phTOy/1h2/f+Ol7N66cXnn68qmnL22cP726vjRk0mKuQX0ToVpw0j7U/MYvvxxIiWBiNwfV8lNFmphhlt3eOfy/  /uJnP79609pemljtANquisUra71+9wkTJUkyn88vXLzwrW9+8/onnzCazMEYC4lOyAQwGyJlNmzMtRvXP7193wsHL7cf7F/97Nb1  7XuJM2c3NkAIIiD4OMktGC/yojhiAbsPZm6vTesZIWEgSZ2xducwf/+znR+9f+Pn73967dZ+UGxtjAaZ9WWIPNexOQBSEMy3f/ml  uBFl3CHQgNPEpc5mmX2wN/neT6/96U/eO5hUg36fOkOaXba63QSv+3prnkRkrY07MpZl+Y/+0X+yMlq+eeNGCMFaS8yGYAjKNVgy  LlHFz9979+qnN4Wp8NXu/v50PnWJA9GDh2OVcO7UqaBS+QrEQZBZ5wUPD8YhHO2e2G3e6gLRjuwAwBrOEueMXZR64/74p+9df/vD  O0tLo8fOrZal14bJ6QRUMr/+1ecNkTU2yYwzVJTh3v700+0Hb1279Wc/vvrxnb3EZmni2knhFqG0Imvl1bzFXea2HfBM03Q8Hn/1  q1/7tW99I4jc3t72RUnEiUnUsiVigFN7MJn8+Bdv398/6A8Gw8FwZbS0Ohpsro4qCRB5/NKF/fHk7sO9s6e2GCYEVSgb7iXJdDYf  T2fGcJciRqNW7RWeeMT8JILdxJokSXcPFz98+6PAePmpC6EKrDj+NTL/4N94NWj1cLr45OaDv3nnk++/8eFP3v3s3ev3b96fKGw/  y2p8dlx9ukRj9B3OuWbTg7hNaS24EELUTWttnucbmxvf+Na3VtfW1jc3iGgxny/yRQi+LIqkn00m84+ufbIzGSdJAqAoitlisZjn  S2l6dm3J+3LY78+L8s7uwf7h+NzprdRyGYQJvdSkzm7v7Iaj6YOjBXPOtbb56KP17qIqos6wtcmbV7eJ9ZWnzhdFdcw0iUxJ5q9+  ce0n79569/rO/b2pD2ysSxOXxMb5TkbZKnbXNo0x8/l8f38/hCASd3+N+Vm9wWGMDO1z7/13fv03sl62dfr0U889+/Szz6xvrJ86  tfncC89evfrBu+9cZZcMR6OyLCeTSQjBe196/3AyySxvrq+CjHO2l2V7+/P7D/c3V4fLwywEKNHSoL8/nj4cT60x6IJ1a9M0xb/G  g5pCIxFlSfLWh9fX11aeurgVmatYvSOQmZUoKhCRsxzbM9vF6YqmPWh8xHfjB6y1zFwUxWw2WywWhq2ziah25dU6tYODg29985vn  zp+XENI02djcfOHlF7/82qvf/4u//Mu/eD0bDHqDAauys/PFgpl7vV6WpmmWLmaz06dO9Xo9Q5Q60++neVHdvLujivXVJcuGDRj2  xt2dmOElSVJjAmu7y/yvIzvE9gB2H16/9drzl4dZEiLfqGBis7m5bhpV4nZn7IbPOQEaWvzVvQIi6vV6/X6/3++HEPI8T9M0fqAb  BKJKTiaTJ5988stf/vJ8PmfmXr9vjPkf/vv/7p/9/j/b3DrjXBLHx0IQEIUQer1emqZrgzQ1ptcfZKkDqUttL02WR4OsN7i/d3j3  4YNB1l8a9JPU3bq3M8vzLE17vZ4xJobL7pJ3mZy/Q2QKOMPjaVlV/rUXrlRVxc22M2ZlZeXE4VqSpz2udna4OXG++PnWnQ0Gg36/  X/NKxpyASMxcVdVwOPz2t789mUyWV1ak8v/Nf/Vff++7f3rq3FmybCDel2QMsVHAe2+MEQnBV4axvr6aJImzrpekvTRLUzfqZxur  y47dvYe78zI/vbk+mU23H+wtj0bOuRNBAMcbek9kjo86OFF1SXLr4d7Lz15cG6Q+1JvAmbW1tVYF2gU5ocOfu0rdK+gCjvZqulLu  IjXv/Xe+853Nzc293d3/+X/8n8bjg6//6i//7n/xn1+8cPHnP/9Jam1VeTWWmcuy3Nvbi/2avipXl0fOJc7ahI1jY0CWTWLN6vJo  bXUlL4uD/UOi5M7DvcGgR0cFjWO+uL3a7nJ+bjQAYAxPZvO1vnvxyXNFVUW+xLa+6VFhtan1iYDdHXPterduegQgoqTuFvYRjty6  devja9eefebZ/+1/+V9/87d/64UvfCG++8UvfvGz69f+/Lt/nPayxWxurYt3tbK6+sIzz157763ZdOacSxOndZMFg4gs58UCMGc2  Ti2KYvvjT7IsMebYjlndPDces5ucPBoE2tuUEBKTvHlt+zd+5XmuZ06p1rJu/tze/6MFka53iz+99yck2/VxJ5Y3Pg8SJvvjn/zo  R7/6zW985WtfLfIcTW74whde/PHf/PBwOmY203lujXn1S6/cub39e7/7nz125cKf/PH31tbXB4M+K9jAWiOq//Y//M2XXvrieHww  PTxUlbyqdscT18GJnd3Kj3Zb+zu0DN30HjDG7C+KLz59bmM0DCLKZNbX19H9RwCPbLvxtwkiPqqqOmHOzNziyWO+rwW31kwPJ//R  7/zOV77+tel0GmOFtdZ73+v3rzz55J//2Z8742aLhUtcv58tDqa/8x//1gsvf/n1P/u+D9Xy0sASGWvLqrx4+fH/4D/93aeeffH5  F77w+OOPD5aWzl98LOkPPv744yzLulOlXefQpsN/mzvrmgszzxf5lTNrT17cKry3YLOxsfG5Jnniz8/1a977yWTS6/VOhPDWHLrK  dRQByurs+XP/5J/+03yxiCCzDa9VVZ05e7bX7//lX36/PxwcHh7evb9zemPtmaefWhwUe3u7D3buLS+vsmFnrLXJv/Pb/+HjTz2d  50V/MDx14cLjTz/9pS+/tra58d0/+qOILbqPeJZIgTzqtrpa0ub28SbEC6m++uLjVfB1r137uW7B7YSRdlWvPZ9zTkSKouiKLH6w  NdXuVcajpWl68+bNqAhlWcb0IB7TWlvkxT/8zd/8zX//t8fjsbV2aTi6cvnypx/f+MkPf+SSdDJbFGXJ1uR5/twLr3zpl77qfWDD  SvBBYlR47tlnz5w5470/4e+jICLkPmGVJ3a86z5E1CXug5v3bt/ZzZyNW9McyVU7j+7KdIuVXVxmjOn1eovFomvFRFpD5ebFo+tr  XOR8Pr969epgMIgniqeurcYa7/0/+cf/+Dvf+Y748MSFC2fPXnj99b968PBBni9KYHf/UAMZl736ta/3+/36huMlMZe+Wltbe+qp  p8qyPIHIThjdCYPt6toJdbOGF3n4wdvXnElC0CNcd+LL8XmMeif0tn0SQhgMBiGEqqoiTapNW090ZceiLeK/b6gfb775JhpoTnSM  xosn/d3f+73VpeUXn3v+5vbtSv0sX0yn02F/INDJolzdPHX5icdPKEg8V5Ikr7zySoxL7WLr8ZJHRFQn/Ix0qhZdqamoccmbH94a  TxbWHv9nSG1g/lyP2D10+y1rbZIkeZ5HmVNsfWvb1joqGSNQ/Lpz7qOPPppOpxFwPupxvfeJc88//3yW9G7cuJn1egfjg+l8NuoP  Tp1a95UMl9YGS0veezSJSnxYa0MIL774Yq/Xa9f7RFW/FVYXLXXl0NUPAKKaWHN3d/Lujbv9pFdH3yjgaOpd79ZC0+5CtdYaXxwM  BkVRHFmWMUf1ms6Ju2WUJEm2t7e3t7f7/X5cgBMKLiLD4fCZ55974523TOIK8bMyt9acPbN55dLFQS998ukner3Me9/9F2NRfbz3  V65cad1ZFwycUMkT8OBzY0LndfOL9254uGO7lZ3whd242Q2CJ7Q3EjV5nnehfzeKt9fa3XN0MplcvXo1fjeE0A0C8bv9fn/73p3b  D+7aNCmqSkSXl/vPPfvEs08/5f3iyWeeMcbGaNttcoji3traev755+MlPYoEuPlXbScW9YTXO/5c0yS5emv3wf5uh6jsyK71x5+b  hz9qqmmatkEAx9HcCetu8y1mfvvtt+PrIYSyLLsHjDe/v7cfN/OVEJyz6+srr3zpi6c2t8qymsymaDaL6TqTqOZZlr366qshhFYD  TmTNfwfY7IqvY3Cwhvcni49v3efPe7tetEfx2okMCc1Xsizz3keP272O1ni7+h/XI0mS999/fzabGWOstSdy+NYxFUVRlqVIyHru  wqULj1250k+cc+76p9fbNeh6j3iWEMKrr766srISpXZi5dAUBP42vPmoEEUEUFF998ZDbhXqbzt0V8Xa9dRmgDM+T5LEGFMURZf8  7CZxrTrEo0Xi/+bNm9vb24PB4IQhnziCqiZpapmeeeaZzCW9XupDuHnjRlTPE1cehVhV1RNPPPH0009H2+z6+yipNg58Llw/YRnN  E1jDn964fYz26vqUKNo2iT0hRCIC1x1I8ZPRNnEcQ58Ir111s9bOZrOrV692r/4EwvTel2WZJEkvzR5//PHz586xVJUvp/NiMp+1  n+mqTHuiXq/3S7/0S2VZnmDu2ls4gc5OuJ0T6lYn6sbsHyy4BWxt5CLqlrKPBcoj5ifWOJtapohkWVZVVVmWx1fmmEfv+sf45zvv  vHPChLtSi9lFlmWrg/6XX331cPdANHz48ad5UbGiqiprbdf343jIeu211+IR0IF+J5KcE1zpidD3qMpVZDkmEF0BtWlA9zttoag2  5MirNKPXERlGxTmh7dTI9AQ6iejsgw8+iEbaBTTtz36/75yz1r78ygusYXJ4uLOz++Yv3t9YXr1w6vRkOonN812H1UrQe//0009v  bW1FD3vC1tpH16If9WtdX9EsJx2jqk98s03H9PMeJ6QMoNfr5XkuIjH2n/BKJ7Qviuz69eu3b9/uptDdq1xeXlbVC2dPP/fcs9s3  b3rIj9948872g+df/MJzL7xw6/oNIppMJt77iFpbisIYU1XV6dOnX3755UehxgmT7Eqqu9hdMrX7gSPKrXU6UaFi4K+qKl5QBI1d  8XXvMF5olmUikud5d626Ea0rF2Eiaw4PDz/88EN00sz2LABObW0FkS++8uLO/XtJlm7f3f7Zz961Sf/rv/oro6Wlt95801n34MGD  7e3tsiy7u9O15/rKV77SzRC6uKwb/bvCelTZT8Avlua/GHRFEL1SVVVFUcQwHz/TvZ8o1q6Sxix9Mpng8wBtVytjrzQDIvLGG2+c  8DXtza+srj5x+cr68trOzo619p233j/Yn1w4f+6lL7+88+DB1fc/VuDC+fOTyWR7e7soiq4riFHylVdeGY1GXWVvBddFs3p8w65H  vVhXPp+D12PclM97tCp2AppQw/D0+/2omHScNeqemNspflHn3HvvvRdC+Nyb2djY2FzfuHfn7trq+mef3dq+99BmyatfeW0wGO48  eHDn7t2dBw+WlpfPnj17//79e/futfGxFfrly5dPnToVX+/aV6v7eAR4d6PB5wrx/weHifQEJ1StlgAAACV0RVh0ZGF0ZTpjcmVh  dGUAMjAyMS0wMS0xM1QyMTowMzoxNyswMDowMLz6ZeAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDEtMTNUMjE6MDM6MjUrMDA6  MDDUt8uWAAAAAElFTkSuQmCC" alt="Me" style="border-radius:50%;">
{% endmacro %}
