{% extends "base.html" %}
{% block title %}{{ page.title }}- {{ SITENAME }}{%endblock%}
{% block content %}
<section id="content" class="body span10">    
        <h2 class="content-title">{{ page.title }}</h2>
            {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
                    the pdf</a>{% endif %}
                    {{ page.content }}

</section>
{% endblock %}
