{% extends "base.html" %}


{% block title %}
  Search {{ super() }}
{% endblock title %}

{% block content %}

<section id="content" class="body">
<div class="row">
    <div class="col-md-4 mt-5">
        <input class="form-control rounded-pill py-2 border-right-0 border" type="search" placeholder="Search" id="tipue_search_input">
    </div>
  </div>
<div id="tipue_search_content"></div>
</section>

<script>


window.addEventListener('DOMContentLoaded', function() { 
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'show': 10,
         'mode': 'json',
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
     });
});

});
</script>


{% endblock %}
